/*reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.intro {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Source Code Pro', monospace;
}

.intro .intro-title {
  display: block;
  margin: 10px auto;
  width: 300px;
}
.intro .intro-title h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 50px;
}
.intro-content {
  display: flex;
}
.intro-text {
  
  width: 30%;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
  font-weight: 700;
  font-size: 20px;
  margin: 30px;
}
.intro-text h2{
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
}
.intro-content img {
  width: 50%;
}
.intro-appear {
  opacity: 1;
  transform: translateY(0px);
  
}